/* text */
$clr-text-main: #000;
$clr-text-secondary: #fff;
$clr-text-accent: #147efb;

/* background */
$clr-bg-main: #efefef;
$clr-bg-accent: #147efb;

/* font size */
$fs-main: 14px;

/* border */
$clr-border-accent: #147efb;

/* transitions */
$transition-main: all 0.3s ease;
$transition-fast: all 0.15s ease;
