@import '../../../sass/_responsiveMixins.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4px;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	padding: 15px;

	@include mobile {
		justify-content: end;
	}

	.title {
		font-size: 20px;

		@include mobile {
			display: none;
		}
	}

	.list {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}
