@use 'src/sass/_variables' as variables;

.card {
	width: 300px;
	border-radius: 10px;
	padding: 20px;
	border: solid 1px variables.$clr-border-accent;
	transition: variables.$transition-main;
	cursor: pointer;

	&:hover {
		background-color: lighten($color: lightblue, $amount: 10);
	}

	> *:not(:last-child) {
		margin-bottom: 10px;
	}

	.label {
		font-style: italic;
	}
}
